/*
* From css-tricks.com
* http://css-tricks.com/snippets/css/media-queries-for-standard-devices/
*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .container-body {

  }

  .login-form {
    margin-top: 5%;
  }

  .register-form {
    margin-top: 5%;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
  .container-body {

  }

  .login-form {
    margin-top: 10%;
  }

  .register-form {
    margin-top: 5%;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
  .container-body {

  }

  .login-form {
    margin-top: 10%;
  }

  .register-form {
    margin-top: 5%;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  .container-body {

  }

  .login-form {
    margin-top: 10%;
  }

  .register-form {
    margin-top: 5%;
  }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  .container-body {

  }

  .login-form {
    margin-top: 10%;
  }

  .register-form {
    margin-top: 5%;
  }
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  .container-body {
  }

  .login-form {
    margin-top: 10%;
  }

  .register-form {
    margin-top: 5%;
  }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
  .container-body {
  }

  .login-form {
    margin-top: 20%;
  }

  .register-form {
    margin-top: 5%;
  }

  input[type=search] {
    background: #fefefe url("../images/content/search-3.png") no-repeat 9px center;
    border: solid 2px #ccc;
    padding: 9px 15px 9px 42px;
    width: 120px;

    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
  }

  input[type=search]:focus {
    width: 295px;
    background-color: #fff;
    border-color: #cc757f;

    -webkit-box-shadow: 0 0 20px rgba(198, 0, 3, 0.31);
    -moz-box-shadow: 0 0 20px rgba(198, 0, 3, 0.31);
    box-shadow: 0 0 20px rgba(198, 0, 3, 0.31);
  }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
  .container-body {
  }

  .login-form {
    margin-top: 10%;
  }

  .register-form {
    margin-top: 5%;
  }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  .container-body {
  }

  .login-form {
    margin-top: 10%;
  }

  .register-form {
    margin-top: 5%;
  }
}

body {
  padding-bottom: 50px;
  background-color: #f4f4f4;
  font-size: 150%;
  height: 90%;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-type: none;
}

.search-bar {
  margin-top: 10px;
  margin-bottom: 50px;
}

.container-color {
  background-color: #ffffff;
}

.qa-main {
  margin-left: 15px;
}

.qa-sidebar {
    margin-left: 50px;
}

.sidebar-module {
    margin: 0px -15px 15px;
    /*padding: 15px;*/
}

#sidebar-header {
  border-bottom: 1px solid #bebebe;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

.modal-title {
    text-align: center;
}

.clear-fix {
  margin-top: 25px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #d2d4d8;
}

.cntbox {
  float: left;
  margin-right: 20px;
  width: 73px;
  height: 83px;
  background: #e7f7ff;
  border: 1px solid #c5d6df;
  text-align: center;
  overflow: hidden;
  margin-bottom: 20px;
}

.cntbox .cntcount {
    margin-top: 8px;
    clear: both;
    font-size: 32px;
    font-weight: bold;
}

.cntbox .cnttext {
    clear: both;
    font-size: 13px;
}

.cntgreen {
    background: #f1f7f3;
    border-color: #c1daa6;
}

.cntred {
    background: #ffe9d5;
    border-color: #ffd196;
}

.qtext {
    position: relative;
    float: left;
    margin-left: 8px;
}

.qhead {
    font-size: 18px;
    font-weight: bold;
}

.qinfo {
    float: left;
    width: 100%;
    margin-top: 7px;
    font-family:"Segoe UI Semibold";
    font-size: 13px;
    color: #747474;
}

.qtagul {
    color: #747474;
    font-size: 13px;
}

.qtagul li {
    margin: 10px 10px 0 0;
    float: left;
}

.qtagul li a {
    color: #747474;
    padding: 3px 5px 5px 5px;
    float: left;
    display: block;
    background: #ededed;
    border: 1px solid #cecece !important;
}

.qtagul li a:hover {
    color: #ededed;
    background: #747474;
}

.qwrap {
    position: relative;
    float: left;
    width: 100%;
    clear: both;
    padding: 20px 0;
    border-bottom: 1px solid #bebebe;
}

.qwrap:last-child {
    border-bottom: none;
}

#replyh {
    font-size: 23px;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #bebebe;
}

#rcount {
    position: absolute;
    right: 0;
    top: 0px;
    font-family:"Segoe UI Semibold";
    color: #747474;
    font-size: 13px;
}

@media (max-width: 500px) {
    #rcount {
        width: 50px;
    }
}

.arrowbox {
    float: left;
    margin-right: 15px;
    width: 17px;
    height: 85px;
    position: relative;
}

.arrowbox .like, .arrowbox .dislike {
    background-image:url(../../assets/images/content/arrows.png);
    background-repeat:no-repeat;
    display: block;
    width: 17px;
    height: 17px;
    position: absolute;
    left: 0;
}

.arrowbox .like {
    top: 10px;
}

.arrowbox .like:hover, .arrowbox .like.active {
    background-position: 0px -17px;
}

.arrowbox .dislike {
    bottom: 10px;
    background-position: -17px 0px;
}

.arrowbox .dislike:hover, .arrowbox .dislike.active {
    background-position: -17px -17px;
}

.rblock {
    float: left;
    width: 80%;
}

.rbox {
    color: #4d4d4d;
    font-size: 15px;
}

.fastbar {
    font-size: 13px;
    color: #747474;
    margin-top: 15px;
    float: left;
}

.fastbar li {
    float: left;
    margin-right: 15px;
}

.fastbar li a {
    color: #747474;
    display: block;
    padding-left: 10px;
    float: left;
    margin-right: 5px;
    background-position: left center;
    background-repeat: no-repeat;
}

.fastbar li a:hover,
.fastbar li a:focus {
    text-decoration: none;
    border-bottom: solid;
    border-bottom-left-radius: 0.5em;
}

.fastbar .flag a {
    background-image:url(../../assets/images/content/flag.png);
}

.fastbar .comment a {
    background-image:url(../../assets/images/content/comment.png);
}

#rreplycount {
    float: left;
    font-size: 18px;
    font-weight: bold;
    color: #4d4d4d;
    background: #ececec;
    border: 1px solid #d4d4d4;
    width: 87%;
    padding: 3px 10px 5px 10px;
    margin: 25px 0;
}

.rrepol {
    position: relative;
    float: left;
    background: #e7f7ff;
    border: 1px solid #c5d6df;
    width: 87%;
    padding: 20px;
    margin-bottom: 25px;
    min-height: 200px;
}

.rrepol:last-child {
    margin-bottom: 0;
}

.rrepol .rblock {
    width: 80%;
}

.rrepolinf {
    font-family:"Segoe UI Semibold";
    font-size: 13px;
    color: #747474;
}

.rrepolinf img {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.minihead {
    color: #747474;
    font-size: 15px;
}

.bestanswer {
    position: absolute;
    top: 125px;
    left: 20px;
    text-align: center;
    background: url(../../assets/images/content/tick.png) 5px -10px no-repeat;
    padding-top: 30px;
    padding-right: 2px;
    width: 80px;
    font-size: 13px;
    color: #289e00;
}

.choosebestanswer {
    position: absolute;
    top: 125px;
    left: 20px;
    text-align: center;
    background: url(../../assets/images/content/tick.png) 5px -60px no-repeat;
    padding-top: 30px;
    padding-right: 5px;
    width: 70px;
    font-size: 13px;
    color: #289e00;
}

textarea.fullinput {
    height: 150px;
}

.fullinput {
    width: 90%;
    margin-bottom: 20px;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    border-bottom: solid;
    border-top: solid;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 3em;
    border-top-left-radius: 2em;
    background-color: #eeeeee;
    font-weight: 900;
    text-transform: lowercase;
    font-family: "Segoe UI Semilight";
    text-shadow: 5px 5px 5px red;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #ff0000;
    background-color: transparent;
    font-size: large;
    font-weight: 900;
    font-family: "Segoe UI Semilight";
    text-shadow: 5px 5px 10px white;
    font-style: oblique;
}

.dropdown-menu {
    background-color: #222222;
    border-bottom-right-radius: 2.5em;
    border-bottom-left-radius: 0.5em;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #222222;
    text-decoration: none;
    border-bottom: solid;
    border-top: solid;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 3em;
    border-top-left-radius: 2em;
    font-weight: 900;
    text-transform: lowercase;
    font-family: "Segoe UI Semilight";
    text-shadow: 5px 5px 5px red;
    color: #ffffff;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-image: none;
}

.dropdown-menu > li > a {
    color: #999999
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #999999
}

.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
    border-top-color: #ffffff
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-bottom-color: #999999
}

.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
    border-bottom-color: #ffffff
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  border-color: #ffffff;
}

.alert {
    text-align: center;
}

@media (max-width: 500px) {
    .choosebestanswer {
        position: absolute;
        top: 35px;
        left: 120px;
        text-align: center;
        background: url(../../assets/images/content/tick.png) 5px -60px no-repeat;
        padding-top: 30px;
        padding-right: 20px;
        width: 70px;
        font-size: 13px;
        color: #289e00;
    }

    .bestanswer {
        position: absolute;
        top: 35px;
        left: 120px;
        text-align: center;
        background: url(../../assets/images/content/tick.png) 5px -10px no-repeat;
        padding-top: 30px;
        padding-right: 140px;
        width: 220px;
        font-size: 13px;
        color: #289e00;
    }

    #rbox {
        margin-top: 0;
    }

    .fastbar li a {
        width: 115px;
    }

    .fastbar li a:hover,
    .fastbar li a:focus {
        text-decoration: underline;
        border-bottom: none;
        border-bottom-left-radius: 0;
    }

    .dropdown:hover .dropdown-menu {
        display: compact;
    }
}

@media (max-width: 550px) and  (min-width: 501px) {
    .choosebestanswer {
        position: absolute;
        top: 35px;
        left: 120px;
        text-align: center;
        background: url(../../assets/images/content/tick.png) 5px -60px no-repeat;
        padding-top: 30px;
        padding-right: 20px;
        width: 70px;
        font-size: 13px;
        color: #289e00;
    }

    .bestanswer {
        position: absolute;
        top: 35px;
        left: 120px;
        text-align: center;
        background: url(../../assets/images/content/tick.png) 5px -10px no-repeat;
        padding-top: 30px;
        padding-right: 140px;
        width: 220px;
        font-size: 13px;
        color: #289e00;
    }

    #rbox {
        padding-right: 10px;
    }

    .dropdown:hover .dropdown-menu {
        display: compact;
    }
}

@media (min-width: 770px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
    width: 300px;
    float: left !important;
}

.text-field {
    width: 300px;
}

.checkbox-width {
    width: 300px;
}

.remind-header {
    margin-left: -10px;
}

@media (max-width: 770px) {
  input[type="submit"].btn-block,
  input[type="reset"].btn-block,
  input[type="button"].btn-block {
      float: left !important;
  }
}

@media (max-width: 600px) {
    .text-field {
        width: 200px;
    }

    .checkbox-width {
        width: 200px;
    }

    .forgot {
        float: left !important;
    }

    input[type="submit"].btn-block,
    input[type="reset"].btn-block,
    input[type="button"].btn-block {
        width: 200px;
        float: left !important;
    }

    .remind-header {
        margin-left: -10px;
        font-size: 12px;
    }

    .btn {
        margin-top: 10px;
    }

    .title-fullinput {
        width: 100px;
    }
}

.btn-size {
    width: 130px;
}

.fill {
  min-height: 100%;
  height: auto;
}